<div class="min-h-screen bg-white-100 flex justify-center items-center text-black font-syncopate">
    <div class="max-w-md px-8 py-12 bg-white rounded-lg shadow-xl">
      <h1 class="text-3xl font-bold text-left mb-4">About me</h1>
      <p class="text-sm text-gray-700 text-right mb-8">
        I am skilled in
      </p>
      <ul class="list-outside text-right text-gray-700">
        <li>JAVA</li>
        <li>Angular</li>
        <li>Html</li>
        <li>CSS</li>
        <li>SQL</li>
      </ul>
    </div>
  </div>