<!--
<div class="navbar font-tiltneon h-1/6 text-black">
    <div class="flex-1">
      <a routerLink="/" class="text-xl ml-16 btn btn-ghost">Morten Andersen</a>
    </div>
    <div class="flex-none mr-16">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/experience">Experience</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
-->
<div class="navbar font-tiltneon h-1/6 text-black flex justify-between items-center px-4">
  <a routerLink="/" class="text-xl ml-4 btn btn-ghost">Morten Andersen</a>

  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="dropdown dropdown-left lg:hidden">
    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </div>
    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</div>

